*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

/* ***********END OF RESET*********** */
.container {
  position: relative;
  background-image: url(./images/eagle_background.jpg);
  width: 100%;
  height: 100vh;
}

.container nav {
  text-align: right;
  padding: 1.5rem;
}

.container nav img {
  width: 1rem;
  height: 1rem;
}

.container nav a {
  text-decoration: none;
  color: white;
  margin: 20px;
  font-family: "Montserrat", sans-serif;
}

.container nav .home {
  position: absolute;
  width: 5rem;
  font-size: 1.4rem;
  font-weight: bold;
  margin: 0 auto;
}

.container .header {
  margin: 0 auto;
  width: 50%;
  text-align: center;
  margin-top: 6rem;
}

.container .navBottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.header {
  position: relative;
}

.header h1 {
  font-family: "Kaushan Script", cursive;
  font-size: 3rem;
  color: white;
  margin-bottom: 2rem;
}

.header h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 8rem;
  color: white;
  font-weight: bold;
  margin-bottom: 4rem;
}

.header .line {
  margin: 0 auto;
  border-top: 2px solid white;
  width: 5%;
  margin-bottom: 2rem;
}

.header .box {
  margin: 0 auto;
  width: 20%;
  border: 2px solid white;
  padding: 0.5rem;
  color: white;
}

.header .box a {
  text-decoration: none;
  color: white;
}

.navBottom a {
  border-top: 1px solid white;
  padding: 1rem 6rem 1rem 0;
}

.secondPage {
  position: relative;
  width: 100%;
}

.secondPage .sectionOne {
  text-align: center;
}

.secondPage .sectionOne h1 {
  font-family: "Kaushan Script", cursive;
  font-size: 2rem;
  margin-top: 5rem;
}

.secondPage .sectionOne h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 1rem;
}

.secondPage .sectionOne .line {
  margin: 0 auto;
  border-top: 2px solid #f38181;
  width: 5%;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.secondPage .sectionOne p {
  width: 55%;
  margin: 0 auto;
  color: #999999;
  margin-bottom: 5rem;
  font-family: "Roboto", sans-serif;
}

.secondPage .images {
  text-align: center;
  margin-bottom: 5rem;
}

.secondPage .images img {
  margin: 0.5rem;
}

.numbers {
  margin: 0 auto;
  text-align: center;
  font-size: 0px;
  background-color: #95e1d3;
  height: 12rem;
}

.boxNumber {
  border-right: 1px solid white;
  border-left: 1px solid white;
  display: inline-block;
  height: 20vh;
  width: 12.5%;
  margin: 0 auto;
  border-spacing: 0;
  font-size: 1rem;
  color: white;
}

.boxNumber h1 {
  text-align: center;
  padding-top: 2rem;
  font-size: 3rem;
}

.boxNumber p {
  font-size: 0.60rem;
  text-align: center;
  height: 3rem;
}

section {
  width: 100%;
}

section .sectionOne {
  text-align: center;
}

section .sectionOne h1 {
  font-family: "Kaushan Script", cursive;
  font-size: 2rem;
  margin-top: 5rem;
}

section .sectionOne h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 1rem;
}

section .sectionOne .line {
  margin: 0 auto;
  border-top: 2px solid #f38181;
  width: 5%;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.sectionTwo {
  margin: 0 auto;
  width: 63%;
}

.sectionTwo .boxTop {
  position: relative;
  display: inline-block;
  width: 32%;
  height: 8rem;
  border-spacing: 0;
}

.sectionTwo .boxTop img {
  width: 2rem;
  height: 2rem;
}

.sectionTwo .boxTop .h1 {
  position: absolute;
  width: 80%;
  top: 0;
  left: 20%;
}

.sectionTwo .boxTop .h1 h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  margin-bottom: 1rem;
}

.sectionTwo .boxTop .h1 p {
  font-family: "Roboto", sans-serif;
  color: #999999;
}

.sectionTwo .lineThirdPage {
  border-top: 1px solid  #999999;
  width: 100%;
  margin-bottom: 3rem;
}

.sectionTwo .boxBottom {
  position: relative;
  display: inline-block;
  width: 32%;
  height: 8rem;
  border-spacing: 0;
}

.sectionTwo .boxBottom img {
  width: 2rem;
  height: 2rem;
}

.sectionTwo .boxBottom .h1 {
  position: absolute;
  width: 80%;
  top: 0;
  left: 20%;
}

.sectionTwo .boxBottom .h1 h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  margin-bottom: 1rem;
}

.sectionTwo .boxBottom .h1 p {
  font-family: "Roboto", sans-serif;
  color: #999999;
}

/*  ******************* PAGE FOUR ******************* */
.fourPage {
  background-image: url(./images/background.jpg);
  width: 100%;
  height: 100vh;
  position: relative;
}

.phone {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 57%;
}

.tablet {
  text-align: center;
  padding-top: 8px;
}

.sectionHeader {
  text-align: center;
}

.sectionHeader h1 {
  font-family: "Kaushan Script", cursive;
  font-size: 2rem;
  padding-top: 5rem;
}

.sectionHeader h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 1rem;
}

.sectionHeader .line {
  margin: 0 auto;
  border-top: 2px solid #f38181;
  width: 5%;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

/*  *******************  PAGE FIVE ******************* */
.fivePage {
  width: 100%;
}

.sectionFive {
  text-align: center;
}

.sectionFive h1 {
  font-family: "Kaushan Script", cursive;
  font-size: 2rem;
  padding-top: 5rem;
}

.sectionFive h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 1rem;
}

.sectionFive .line {
  margin: 0 auto;
  border-top: 2px solid #f38181;
  width: 5%;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.sectionFive p {
  width: 55%;
  margin: 0 auto;
  color: #999999;
  margin-bottom: 5rem;
  font-family: "Roboto", sans-serif;
}

.boxes {
  width: 80%;
  height: 39vh;
  position: relative;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 5rem;
}

.boxes .boxLeft {
  position: absolute;
  height: 100%;
  top: 0;
  right: 50%;
  bottom: 0;
  left: 0;
  text-align: right;
}

.boxes .boxRight {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 50%;
  margin-left: 2rem;
}

.boxes .label {
  border: 1px solid #999999;
  text-align: left;
  width: 100%;
  margin-bottom: 1rem;
  display: inline-block;
  font-family: "Montserrat", sans-serif;
}

.boxes .label img {
  padding: 10px;
}

.boxes .label span {
  vertical-align: middle;
  font-variant: small-caps;
}

.boxes .label span::after {
  vertical-align: middle;
  float: right;
  right: 10%;
  content: "^";
  padding: 20px;
}

.boxes .label p {
  margin-top: 20px;
  font-family: "Roboto", sans-serif;
  color: #999999;
  border-top: 1px solid #999999;
  padding: 10px;
}

/*  *******************  CAROUSEL/SLIDESHOW SECTION ******************* */
.carousel {
  background-color: #f8f8f8;
}

/*  *******************  PAGE SIX ******************* */
.pageSix {
  width: 100%;
}

.sectionSix {
  text-align: center;
}

.sectionSix h1 {
  font-family: "Kaushan Script", cursive;
  font-size: 2rem;
  padding-top: 5rem;
}

.sectionSix h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 1rem;
}

.sectionSix .line {
  margin: 0 auto;
  border-top: 2px solid #f38181;
  width: 5%;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.sectionSix p {
  width: 55%;
  margin: 0 auto;
  color: #999999;
  margin-bottom: 5rem;
  font-family: "Roboto", sans-serif;
}
/*# sourceMappingURL=style.css.map */