*, *:before, *:after
    box-sizing: border-box;

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
    text-rendering: optimizeLegibility
    -webkit-font-smoothing: antialiased
    text-size-adjust: none

footer, header, nav, section, main
    display: block

body
    line-height: 1

ol, ul
    list-style: none

blockquote, q
    quotes: none

blockquote:before, blockquote:after, q:before, q:after
    content: ''
    content: none

table
    border-collapse: collapse
    border-spacing: 0

input
    -webkit-appearance: none
    border-radius: 0

/* ***********END OF RESET*********** */

$font-stack: 'Montserrat', sans-serif
$font-second: 'Kaushan Script', cursive
$font-roboto: 'Roboto', sans-serif
$font-size: 2rem
$margin-large: 5rem
$margin-top-h2: 1rem
$line-decoration: 2px solid #f38181
$margin-between-line: 3rem
$test-border: 1px solid green
$test-border2: 1px solid blue
$line-height: 1.5


// @mixin divBox 
//     display: inline-block
//     width: 33.1%
//     border: $test-border

    // @mixin pageHeader
    //     h1
    //         font-family: $font-second
    //         font-size: $font-size

    //     h2:
    //         font-family: $font-stack
    //         font-size: $font-size
    //         font-weight: bold
    //         margin-top: $margin-top-h2

    //     .line:
    //         margin: 0 auto
    //         border-top: $line-decoration
    //         width: 5%
    //         margin-top: $margin-between-line
    //         margin-bottom: $margin-between-line
    

//  ******************* HOME PAGE *******************      
.container
    position: relative
    background-image: url(./images/eagle_background.jpg)
    width: 100%
    height: 100vh

    nav
        text-align: right 
        padding: 1.5rem

        img
            width: 1rem
            height: 1rem

        a
            text-decoration: none
            color: white 
            margin: 20px
            font-family: $font-stack

        .home 
            position: absolute 
            width: 5rem
            font-size: 1.4rem
            font-weight: bold 
            margin: 0 auto

    .header
        margin: 0 auto
        width: 50%
        text-align: center
        margin-top: 6rem

    .navBottom
        position: absolute
        bottom: 0
        width: 100%
        margin: 0 auto
        text-align: center 

.header 
    position: relative

    h1 
        font-family: $font-second 
        font-size: 3rem
        color: white
        margin-bottom: 2rem
    h2 
        font-family: $font-stack
        font-size: 8rem
        color: white
        font-weight: bold
        margin-bottom: 4rem
        

    .line
        margin: 0 auto
        border-top: 2px solid white
        width: 5%
        margin-bottom: 2rem
    .box
        margin: 0 auto
        width: 20%
        border: 2px solid white
        padding: 0.5rem
        color: white
        
        a
            text-decoration: none
            color: white

.navBottom
    a
        border-top: 1px solid white
        padding: 1rem 6rem 1rem 0

//  *******************  PAGE TWO *******************

.secondPage
    position: relative
    width: 100%
    

    .sectionOne
        text-align: center
        
        h1
            font-family: $font-second
            font-size: $font-size
            margin-top: $margin-large

        h2
            font-family: $font-stack
            font-size: $font-size
            font-weight: bold

            margin-top: $margin-top-h2

        .line
            margin: 0 auto
            border-top: $line-decoration
            width: 5%
            margin-top: $margin-between-line
            margin-bottom: $margin-between-line

        p
            width: 55%
            margin: 0 auto
            color: #999999
            margin-bottom: $margin-large
            font-family: $font-roboto

    .images
        text-align: center
        margin-bottom: $margin-large

        img
            margin: 0.5rem

// ******************* STATS PAGE *******************    
.numbers
    margin: 0 auto
    text-align: center
    font-size: 0px
    background-color: #95e1d3
    height: 12rem

.boxNumber
    border-right: 1px solid white
    border-left: 1px solid white
    display: inline-block
    height: 20vh
    width: 12.5%
    margin: 0 auto
    border-spacing: 0
    font-size: 1rem
    color: white

    h1
        text-align: center
        padding-top: 2rem
        font-size: 3rem

    p
        font-size: 0.60rem
        text-align: center
        height: 3rem

//  ******************* PAGE THREE *******************  
section
    width: 100%
    
    .sectionOne 
        text-align: center
        
        h1
            font-family: $font-second
            font-size: $font-size
            margin-top: $margin-large

        h2
            font-family: $font-stack
            font-size: $font-size
            font-weight: bold
            margin-top: $margin-top-h2

        .line
            margin: 0 auto
            border-top: $line-decoration
            width: 5%
            margin-top: $margin-between-line
            margin-bottom: $margin-between-line

.sectionTwo
    margin: 0 auto
    width: 63%
    
    .boxTop
        position: relative
        display: inline-block
        width: 32%
        height: 8rem
        border-spacing: 0

        img
            margin-top:
            width: 2rem
            height: 2rem
        .h1
            position: absolute
            width: 80%
            top: 0
            left: 20%

            h1
                font-family: $font-stack
                font-weight: bold
                margin-bottom: 1rem
            p
                font-family: $font-roboto
                color: #999999


    .lineThirdPage
        border-top: 1px solid  #999999
        width: 100%
        margin-bottom: 3rem

    .boxBottom
        position: relative
        display: inline-block
        width: 32%
        height: 8rem
        border-spacing: 0

        img
            margin-top:
            width: 2rem
            height: 2rem

        .h1
            position: absolute
            width: 80%
            top: 0
            left: 20%

            h1
                font-family: $font-stack
                font-weight: bold
                margin-bottom: 1rem
            p
                font-family: $font-roboto
                color: #999999

/*  ******************* PAGE FOUR ******************* */

.fourPage
   background-image: url(./images/background.jpg)
   width: 100%
   height: 100vh
   margin 0 auto
   position: relative

.phone
    position: absolute
    top 0
    bottom: 0
    right: 0
    left: 57%

.tablet
    text-align: center
    padding-top: 8px

.sectionHeader
    text-align: center

    h1
        font-family: $font-second
        font-size: $font-size
        padding-top: $margin-large
        

    h2
        font-family: $font-stack
        font-size: $font-size
        font-weight: bold
        margin-top: $margin-top-h2

    .line
        margin: 0 auto
        border-top: $line-decoration
        width: 5%
        margin-top: $margin-between-line
        margin-bottom: $margin-between-line

/*  *******************  PAGE FIVE ******************* */

.fivePage
    width: 100%

.sectionFive
    text-align: center
    // border: $test-border

    h1
        font-family: $font-second
        font-size: $font-size
        padding-top: $margin-large
        

    h2
        font-family: $font-stack
        font-size: $font-size
        font-weight: bold
        margin-top: $margin-top-h2

    .line
        margin: 0 auto
        border-top: $line-decoration
        width: 5%
        margin-top: $margin-between-line
        margin-bottom: $margin-between-line

    p
        width: 55%
        margin: 0 auto
        color: #999999
        margin-bottom: $margin-large
        font-family: $font-roboto
        line-height: $line-height



.boxes
    width: 80%
    height: 39vh
    position: relative
    // border: 1px solid red
    margin: 0 auto
    text-align: center
    margin-bottom: $margin-large


    .boxLeft 
        position: absolute
        height: 100%
        top: 0
        right: 50%
        bottom: 0
        left: 0
        text-align: right

    .boxRight 
        position: absolute
        height: 100%
        top: 0
        right: 0
        bottom: 0
        left: 50%
        margin-left: 2rem

    .label
        border: 1px solid #999999
        text-align: left
        width: 100%
        margin-bottom: 1rem
        font-family: $font-stack

        img 
            padding: 10px
            display: inline-block
            vertical-align: middle

        
        span
            vertical-align: middle
            font-variant : small-caps
    
            &::after
                float: right
                right: 10%
                content: "^"
                padding: 20px

        p 
            margin-top: 20px
            font-family: $font-roboto
            color: #999999
            border-top: 1px solid #999999
            padding: 10px
            line-height: $line-height


/*  *******************  CAROUSEL/SLIDESHOW SECTION ******************* */

.carousel
    background-color: #f8f8f8
    width: 100%

    .carouselContainer
        width: 62.5%
        margin: 0 auto


.carouselContainer

    .arrowLeft
        display: inline-block
        vertical-align: middle  

    .speechIcon
        display: inline-block
        border: 2px solid #95e1d3
        vertical-align: middle
        padding: 1rem
        margin: 3rem


    .text
        display: inline-block
        width: 73%
        vertical-align: middle
        padding: 0 1rem 0


        p
            color: #999999
            font-family: $font-roboto
            margin-bottom: 0.5rem
            line-height: 1.2
            font-size: 24px

        .line
            border-bottom: $line-decoration
            width: 5% 
            display: inline-block
            margin-bottom: 0.5rem

        .name
            display: inline-block
            font-family: $font-second
            font-size: 24px
     
    .arrowRight
        display: inline-block
        vertical-align: middle
        margin-left: 0.5rem

        


/*  *******************  PAGE SIX ******************* */

.pageSix
    width: 100%
    margin-bottom: $margin-large
    
    .sectionOfPhoto
        width: 65%
        margin: 0 auto
        text-align: center

.sectionOne
    text-align: center

    h1
        font-family: $font-second
        font-size: $font-size
        padding-top: $margin-large
        

    h2
        font-family: $font-stack
        font-size: $font-size
        font-weight: bold
        margin-top: $margin-top-h2
        font-variant: small-caps


    .line
        margin: 0 auto
        border-top: $line-decoration
        width: 5%
        margin-top: $margin-between-line
        margin-bottom: $margin-between-line

    p
        width: 55%
        margin: 0 auto
        color: #999999
        margin-bottom: $margin-large
        font-family: $font-roboto
        line-height: $line-height

.sectionOfPhoto

    .photoOne
        display: inline-block
        margin-right: 1.7rem
        vertical-align: top

    .photoTwo
        display: inline-block

    .photoThree
        display: inline-block
        margin-left: 1.7rem

    h1
        font-family: $font-stack
        font-variant: small-caps
        font-weight: bolder
        margin-top: 2rem
    h2
        font-family: $font-roboto
        color: #999999
        font-style: italic
        margin-top: 1rem

// ******************* LOGOS SECTION ******************* 

.logosSection
    width: 100%
    background-color: #f8f8f8
    margin-bottom: $margin-large

    .logos
        width: 63%
        margin: 0 auto

// ******************* PAGE SEVEN ******************* 

.pageSeven
    width: 100%
    // margin-bottom: $margin-large
    
    // .sectionOfPhoto
    //     width: 65%
    //     margin: 0 auto
    //     text-align: center

.sectionOne
    text-align: center

    h1
        font-family: $font-second
        font-size: $font-size
        padding-top: $margin-large
        

    h2
        font-family: $font-stack
        font-size: $font-size
        font-weight: bold
        margin-top: $margin-top-h2
        font-variant: small-caps


    .line
        margin: 0 auto
        border-top: $line-decoration
        width: 5%
        margin-top: $margin-between-line
        margin-bottom: $margin-between-line

    p
        width: 55%
        margin: 0 auto
        color: #999999
        margin-bottom: $margin-large
        font-family: $font-roboto
        line-height: $line-height       

.sectionPhotos
    width: 100%
    border: $test-border
    text-align: left

    .blockOne
        display: inline-block
        margin-right: -4px
        border-collapse: collapse
        // border: $test-border

    .layer30
        display: inline-block
        vertical-align: top
        margin-bottom: -4px

        .img30
            margin-right: -4px

    .layer31
        vertical-align: top

        .img31
            margin-right: -4px

    .layer32
        display: inline-block 

    .layer34
        display: inline-block
        vertical-align: top

    .blockTwo
        display: inline-block
        vertical-align: top
        margin-left: -4px

    .layer35
        display: inline-block
        // vertical-align: top
        
        img
            width: 460px
            height: 391px
            margin-bottom: -4px

    .layer36
        display: block
        // vertical-align: top
        img
            width: 460px
            height: 391px





        



  



    


        







        

        





    